In [10]:
library(readr)
library(dplyr)
library(tidyverse)
library(lubridate)
library(jsonlite)
library(data.table)
# install.packages("rjson")
library(rjson)
library(stringr)

In [133]:
df <- read.csv("retail-food-stores_tidyData.csv", sep= ",")
names(df)

 [1] "License.Number"     "Operation.Type"     "Establishment.Type"
 [4] "Entity.Name"        "DBA.Name"           "Square.Footage"
 [7] "Address"            "Street.Number"      "State"
[10] "ZipCode"            "County"             "Longitude"
[13] "Latitude"

In [61]:
dfMelt <- melt(df, id =c("License.Number", "Establishment.Type", "Address", "Street.Number", 
                         "State", "ZipCode", "County", "Longitude", "Latitude"), measure.vars = c("Square.Footage" ))

#### which are establishment types of busienss for all the business share (top 10)

In [127]:
Ltr <- LETTERS[c(-24, -25)]
store <- c()
for (i in 1:  length(Ltr)){
    lgn <- lapply(dfData$Establishment, grep, pattern = Ltr[i])
    frm <- as.data.frame(unlist(lgn),recursive = FALSE, use.names = FALSE) 
    if(nrow(frm) != 0){
       store[i] <- length(frm[frm == 1,])
    }
    else{
         store[i] <- 0
    }
}
OCCUR <- data.frame(Establishment.Code = as.vector(Ltr), Number.Occurrences = store)

OccurTop10 <- OCCUR[order(OCCUR$Number.Occurrences, decreasing = TRUE),c(1,2)][1:10,]

In [ ]:
A(3)– Store 28-A M – Salvage Dealer 17-B
B – Bakery 20-C N – Wholesale Produce Packer
C – Food Manufacturer 20-C O – Produce Grower/Packer/Broker, Storage
D – Food Warehouse 28-D P – C.A. Room
E – Beverage Plant 20-C Q – Feed Mill/Medicated 8
F – Feed Mill/Non-Medicated 8 R – Pet Food Manufacturer 8
G - Processing Plant 20 S – Feed Warehouse and/or Distributor 8
H - Wholesale Manufacturer 20-C T – Disposal Plant 5-C
I - Refrigerated Warehouse 19 U - Disposal Plant/Transportation Service 5-C
J – Multiple Operations V – Slaughterhouse 5-A
K - Vehicle W – Farm Winery-Exempt 20-C, for OCR Use
L - Produce Refrigerated Warehouse 19 Z - Farm Product Use Only

In [131]:
Code <- mutate(OccurTop10, EstCode_Names = c("Store", "Multiple Operations", "Food Manufacturer", "Bakery", 
"Wholesale Manufacturer", "Vehicle", "Food Warehouse", "Farm Winery-Exempt", "Produce Grower/Packer/Broker", "Beverage Plant" ))
Code

   Establishment.Code Number.Occurrences EstCode_Names
1  A                  29389              Store
2  J                  22553              Multiple Operations
3  C                  22292              Food Manufacturer
4  B                   1651              Bakery
5  H                    415              Wholesale Manufacturer
6  K                    334              Vehicle
7  D                    306              Food Warehouse
8  W                     47              Farm Winery-Exempt
9  O                     26              Produce Grower/Packer/Broker
10 E                     24              Beverage Plant

#### what is the most common Establishment.Type for retail buisness in NY area (Top 10)

In [125]:
group <- group_by(df, Establishment.Type) 
counts <- summarize(group, count = n())


counts[order(counts$count, decreasing = TRUE),c(1,2)][1:10,]

   Establishment.Type count
1  JAC                20213
2  A                   6836
3  JABC                1343
4  JACH                 150
5  JACD                 114
6  JABCH                107
7  JACK                  89
8  JACDK                 53
9  JAD                   45
10 JABH                  43

In [ ]:
## convert dataframe into vextor
as.vector(unlist(counts[,1]))

#### all establish type and its accorded avg footsqaure

In [132]:
dfMelt <- melt(df, id =c("License.Number", "Establishment.Type", "Address", "Street.Number", 
                         "State", "ZipCode", "County", "Longitude", "Latitude"), measure.vars = c("Square.Footage" ))

EstabType <- dcast(dfMelt, Establishment.Type ~ variable, mean)
EstabType

   Establishment.Type Square.Footage
1  A                   4878.068
2  JAB                 1470.788
3  JABC               31144.093
4  JABCD              20800.000
5  JABCDH              5500.000
6  JABCDK              6000.000
7  JABCDP             10000.000
8  JABCG               7000.000
9  JABCGH             78000.000
10 JABCGP              2400.000
11 JABCH               3854.206
12 JABCHK             12666.667
13 JABCHO              8500.000
14 JABCK               9846.250
15 JABCKO              5000.000
16 JABCO               6650.000
17 JABCOP             15042.857
18 JABCP               6125.000
19 JABCR               1000.000
20 JABCS               2500.000
21 JABCW               3600.000
22 JABDK               8000.000
23 JABH                3538.279
24 JABHK              13420.833
25 JABK                7509.091
26 JAC                 3155.273
27 JACD               16805.263
28 JACDE                  0.000
29 JACDG              34000.000
30 JACDH               4941.000
⋮  ⋮                  ⋮
56 JACV                1466.6667
57 JACW                6500.0000
58 JACX               12345.0000
59 JACZ                 600.0000
60 JAD                10806.6667
61 JADE               16000.0000
62 JADEH               2000.0000
63 JADHK               3500.0000
64 JADK               25238.8889
65 JADN               10000.0000
66 JADO                4000.0000
67 JADX                   0.0000
68 JAE                 8114.2857
69 JAEH                6000.0000
70 JAEHK               3000.0000
71 JAHK                 400.0000
72 JAHW                2400.0000
73 JAK                  850.0000
74 JAM                 1500.0000
75 JAN                18000.0000
76 JAS                 7490.0000
77 JAV                 1766.6667
78 JAW                 4390.0000
79 JAZ                 1000.0000
80 JCA                 1000.0000
81 JDA                 2000.0000
82 JDAC                4000.0000
83 JKA                  664.2857
84 JKDA                3500.0000
85 JKDAC               5000.0000